In [1]:
# date and time package

import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-19 08:24:58.253556

In [3]:
x = dt.datetime.now()
print(x.year)
print(x.month)
print(x.day)
print(x.hour)

2023
6
19
8

In [11]:
print(x.strftime("%A"))
print(x.strftime("%a"))
print(x.strftime("%B"))
print(x.strftime("%b"))
print(x.strftime("%C"))
print(x.strftime("%c"))
print(x.strftime("%D"))
print(x.strftime("%d"))

Monday
Mon
June
Jun
20
Mon Jun 19 08:26:32 2023
06/19/23
19

In [12]:
x = dt.datetime.now()
name = input("Enter name = ")
y = dt.datetime.now()

print(y-x)

Enter name = Mamta
0:00:03.936664

In [16]:
x = dt.datetime.now().second
otp = input("Enter otp code = ")
y = dt.datetime.now().second
if y-x < 5:
    print("Please collect your cash.")
else:
    print(f"You took {y-x} seconds.", "Your time is out!")

Enter otp code = 2323
Please collect your cash.

In [18]:
x = dt.datetime.now().second
otp = input("Enter otp code = ")
y = dt.datetime.now().second
if y-x < 5:
    print("Please collect your cash.")
else:
    print(f"You took {y-x} seconds.", "Your time is out!")

Enter otp code = 3243
You took 6 seconds. Your time is out!

In [19]:
# os package

import os 
os.listdir()

['.ipynb_checkpoints',
 'bonus.ipynb',
 'books.csv',
 'data.csv',
 'data.txt',
 'data1.csv',
 'data1.txt',
 'data2.txt',
 'dataa.csv',
 'dataa.txt',
 'dataa1.csv',
 'dataa1.txt',
 'dataa2.csv',
 'database.ipynb',
 'dictionary.ipynb',
 'dict_data.csv',
 'encapsulation.ipynb',
 'file.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'if_else',
 'Inheritance.ipynb',
 'list_data.csv',
 'loop.ipynb',
 'new_data.csv',
 'new_data.json',
 'new_dataa2.csv',
 'new_dataa3.csv',
 'Object_Oriented_Programming.ipynb',
 'p1.ipynb',
 'panda.ipynb',
 'panda1.ipynb',
 'Polymorphism.ipynb',
 'sorting.ipynb',
 'string.ipynb',
 'tuple.ipynb',
 'tuple_p.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'while loop.ipynb']

In [20]:
os.mkdir('newFolder')   # new folder named 'newFolder' will be created inside Python_class_8am folder

In [21]:
os.chdir('newFolder')

In [22]:
pwd

'C:\\Users\\Dell\\Python_class_8am\\newFolder'

In [23]:
cd ..

C:\Users\Dell\Python_class_8am

In [24]:
os.rename('newFolder','New_Folder')

In [25]:
os.rename('New_Folder','new_folder')

In [26]:
os.rmdir('new_folder')

In [ ]:
# Comphresions, list, Dictionary

In [28]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l = [input("Enter value = ") for i in range(5)]
l

Enter value = Sam
Enter value = Pam
Enter value = HAri
Enter value = Pema
Enter value = Ram

['Sam', 'Pam', 'HAri', 'Pema', 'Ram']

In [30]:
l = ["Apple","Ball","Cat","Fish","Bird","Dog"]
data = [i.lower() for i in l]
data

['apple', 'ball', 'cat', 'fish', 'bird', 'dog']

In [31]:
# in dict

l = ["Apple","Ball","Cat","Fish","Bird","Dog"]
d = {i:i.lower() for i in l}
d

{'Apple': 'apple',
 'Ball': 'ball',
 'Cat': 'cat',
 'Fish': 'fish',
 'Bird': 'bird',
 'Dog': 'dog'}

In [32]:
d.values()

dict_values(['apple', 'ball', 'cat', 'fish', 'bird', 'dog'])

In [33]:
list(d.values())

['apple', 'ball', 'cat', 'fish', 'bird', 'dog']

In [34]:
list(d.items())

[('Apple', 'apple'),
 ('Ball', 'ball'),
 ('Cat', 'cat'),
 ('Fish', 'fish'),
 ('Bird', 'bird'),
 ('Dog', 'dog')]

In [36]:
d = {input("Enter name = "):input("Enter phone") for i in range(5)}
d

Enter name = Ram
Enter phone9833244333
Enter name = Sam
Enter phone9837372828
Enter name = Pam
Enter phone98327432445
Enter name = Hari
Enter phone9847598489
Enter name = Ramesh
Enter phone9876263773

{'Ram': '9833244333',
 'Sam': '9837372828',
 'Pam': '98327432445',
 'Hari': '9847598489',
 'Ramesh': '9876263773'}