In [2]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\dell\anaconda3\lib\site-packages (2.2.9)

In [3]:
# import mysql.connector
# importing database
# database = mysql.connector.connect(
#               host="localhost",
#               user="root,
#               password=""
# )

# db = database.,cursor()
# db.execute("CREATE DATABASE pythons")

In [14]:
import mysql.connector
# importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="python_class_8am"
      
)
db = database.cursor()

In [15]:
# select in database

db.execute("Select * from grades")
result = db.fetchall()              # displyas all the data from grades table of database python_class_8am 
for x in result:
    print(x)

(3, 'Hari', 77, 89, 65, 88, 77, 478, 78, 'B')
(5, 'Shyam', 78, 87, 98, 65, 76, 445, 85, 'B')
(15, 'Samy', 78, 88, 98, 67, 89, 420, 84, 'A+')

In [16]:
# select in database
db.execute("Select sn,name,grade from grades")
result = db.fetchall()              # displyas only the selected data from grades table of database python_class_8am 
for x in result:
    print(x)

(3, 'Hari', 'B')
(5, 'Shyam', 'B')
(15, 'Samy', 'A+')

In [17]:
# select in database
db.execute("Select * from grades where grade = 'A' ")
result = db.fetchall()              # displyas only the selected data from grades table of database python_class_8am
for x in result:                    # where grade is A
    print(x)

In [18]:
sql = '''INSERT INTO `grades` (`sn`, `name`, `physics`, `chemistry`, `maths`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ('16', 'Nisha', '88', '78', '67', '98', '67', '450', '85', 'A')'''
db.execute(sql)
database.commit()

In [19]:
name = input("Enter name = ")
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
maths = int(input("Enter maths = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

if physics>= 32 and chemistry>= 32 and maths>= 32 and english>= 32 and nepali>= 32:
    total = physics + chemistry + maths + english + nepali
    per = total/5
    
    if per>80:
        grade = "A"
    elif per>=60:
        grade = "B"
    elif per>=45:
        grade = "C"
    elif per>=32:
        grade = "D"
    else:
        grade = "F"
 
        
    #print("Total")
        
sql = f'''INSERT INTO `grades` (`sn`, `name`, `physics`, `chemistry`, `maths`, `english`, `nepali`, `total`, `per`, `grade`)
VALUES ('NULL','{name}','{physics}','{chemistry}','{maths}','{english}','{nepali}','{total}','{per}','{grade}')'''
    
db.execute(sql)
database.commit()

Enter name = Sus
Enter physics = 87
Enter chemistry = 67
Enter maths = 98
Enter english = 77
Enter nepali = 89

In [20]:
# update

sql = "UPDATE grades SET grade = 'A+' where name = 'Hari'"
db.execute(sql)
database.commit()

In [21]:
# delete

sql ="Delete from grades where name ='Shyam' or grade = 'B'"
db.execute(sql)
database.commit()