In [1]:
# dictitionary

In [2]:
# Dict
# Indexing
# Multiple and duplicate data
# ordered
# mutable

In [3]:
d ={}
d = dict()

In [13]:
# d = {<key>:<value>,<key>:<value>}
d = {'a':'Apple','b':'Ball','c':'Dog'}
type(d)
print(type(d))

print(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Dog'}

In [11]:
print(d['a'])

Apple

In [12]:
l = d = {'a':'Apple','b':'Ball','c':'Dog'}
len(d)

3

In [15]:
d = {'a':'Apple','b':'Ball','c':'Dog','d':'Cat','a':'Apple'}
d                              # key value must always be unique

{'a': 'Apple', 'b': 'Ball', 'c': 'Dog', 'd': 'Cat'}

In [16]:
d = {'a':'Apple','b':'Ball','c':'Dog','d':'Cat','A':'Apple'}
d                               # though value is same 'Apple', key 'a' and 'A' are different, so it prints both values

{'a': 'Apple', 'b': 'Ball', 'c': 'Dog', 'd': 'Cat', 'A': 'Apple'}

In [ ]:
# no + * sign

In [18]:
d = {'a':'Apple','b':'Ball','c':'Dog','A':'Apple'}
e = {'d':'sdsd'}
d.update(e)
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Dog', 'A': 'Apple', 'd': 'sdsd'}

In [17]:
d = {'a':'Apple','b':'Ball','c':'Dog','d':'Cat','A':'Apple'}
e = {'d':'sdsd'}
d.update(e)
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Dog', 'd': 'sdsd', 'A': 'Apple'}

In [21]:
# creatng dictitionary

d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d                          # this is showing that dictionaries are mutable

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [23]:
info = {}  # this means creating info dictitionary

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
print(info)

Enter n = 2
Enter name = Sam
Enter phone = 983479347
Enter name = Pika
Enter phone = 3435343
{'Sam': '983479347', 'Pika': '3435343'}

In [24]:
d = {'Sam': '983479347', 'Pika': '3435343'}
for i in d:
    print(i)     # d prints only key

Sam
Pika

In [25]:
d = {'Sam': '983479347', 'Pika': '3435343'}
for i in d.values():
    print(i)     # .values prints only values

983479347
3435343

In [26]:
d = {'Sam': '983479347', 'Pika': '3435343'}
for i in d.items():
    print(i)      #.items prints both key and values

('Sam', '983479347')
('Pika', '3435343')

In [29]:
d = [['Sam', 983479347],
    ['Pika', 343534343]]
dict(d)

{'Sam': 983479347, 'Pika': 343534343}

In [ ]:
# update
# delete

In [31]:
# update
d = {'Sam': 983479347, 'Pika': 343534343}
d['Sam'] = 4584     # changing the value of key 'Sam' to 4584
d

{'Sam': 4584, 'Pika': 343534343}

In [32]:
# delete
d = {'Sam':34534535,'sdf' : 34534}
del d['Sam']
d

{'sdf': 34534}

In [34]:
# pop
d = {'Sam':34534535,'sdf' : 34534}
e = d.pop('Sam')
print(d)
print(e)

{'sdf': 34534}
34534535

In [35]:
# dictionaries are used in mapping

In [40]:
# list inside dictionary
d = {'Sam':[30453453,567567],'Ram':[454564,6786786]}
d

{'Sam': [30453453, 567567], 'Ram': [454564, 6786786]}

In [47]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc_phone = ")
    ncell_phone = input("Enter ncell_phone = ")
    
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Sam
Enter ntc_phone = 345
Enter ncell_phone = 76786
Enter name = Ram
Enter ntc_phone = 56756
Enter ncell_phone = 234
{'Sam': ['345', '76786'], 'Ram': ['56756', '234']}

In [50]:
# read

info['Sam']      # reads all the value that key 'Sam' holds

['345', '76786']

In [49]:
# read

info['Sam'][0]   # reads the value of index [0]

'345'

In [ ]:
d = {'name':['Sam','Ram','Hari'],
    'age':[23,45,56],
    'address':['Ktm','Pkr','Lalitpur']}

In [2]:

d = {'name':[],'age':[],'address':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address = input("Enter address = ")
    
    d['name'].append(name)
    d['age'].append(age)
    d['address'].append(address)

print(d)

Enter n = 3
Enter name = Ram
Enter age = 23
Enter address = Ktm
Enter name = Sam
Enter age = 34
Enter address = Pkr
Enter name = Hari
Enter age = 23
Enter address = Lalitpur
{'name': ['Ram', 'Sam', 'Hari'], 'age': ['23', '34', '23'], 'address': ['Ktm', 'Pkr', 'Lalitpur']}

In [3]:
d['name']

['Ram', 'Sam', 'Hari']

In [4]:
print(d['name'][0])
print(d['age'][0])
print(d['address'][0])

Ram
23
Ktm

In [5]:
for i in d['name']:
    print(i)

Ram
Sam
Hari

In [6]:
c = 0
for i in d['name']:
    print(i)
    c = c+1

Ram
Sam
Hari

In [7]:
c = 0
for i in d['name']:
    if i == 'Sam':
        print(c)
    c = c+1

1

In [8]:
c = 0
for i in d['name']:
    if i == 'Sam':
        
        print(d['name'][c])
        print(d['age'][c])
        print(d['address'][c])
        
    c = c+1

Sam
34
Pkr