In [1]:
# file
# file = open('<file_name>','<modes>')
# file.close()

# with open('<file_name>','<modes>')as file:
#    <operations>
    
# Mode
# create -> x
# read -> r
# write -> w
# append -> a

In [2]:
try:
    file = open('data.txt','x')     # to create file we are using (create -> x)   # if there is a chance of getting error then it is kept inside try
    file.close()
except:
    print("The file is already there.") # this ststement will printed if the above statements inside try is expected to generate error

The file is already there.

In [4]:
file = open('data.txt','r')             # to read we are using (read ->r) x = file.read()
x = file.read()
print(x)
file.close()

Hello World

In [4]:
type(x)

str

In [5]:
x.split('\n')

['1.Hello World', '2.Hello World', '3.sdkjsdls']

In [7]:
y = x.split('\n')
y

['1.Hello World', '2.Hello World', '3.sdkjsdls']

In [8]:
y[1]

'2.Hello World'

In [9]:
i = int(input("Enter i = "))
y[i-1]

Enter i = 1

'1.Hello World'

In [7]:
file = open('data1.txt','w')
file.write("Hello World")
file.close()

In [9]:
# a kind of simple data entry application
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill + data
    
print(bill)

file = open('data2.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter name = Pen
Enter price = 20
Enter quantity = 2
Enter name = Pencil
Enter price = 40
Enter quantity = 4
Pen 20 2 40
Pencil 40 4 160

In [10]:
# a kind of simple data entry application
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill + data
    
print(bill)

file = open('data2.txt','a')       # a is append so it keeps on adding new new values as we keep on adding
file.write(bill)                   # if in case it doesn't find data2.txt file, it itself keeps on adding values creating own file
file.close()

Enter n = 2
Enter name = Book
Enter price = 3000
Enter quantity = 2
Enter name = Copy
Enter price = 200
Enter quantity = 3
Book 3000 2 6000
Copy 200 3 600

In [11]:
file = open('data2.txt','r')      
print(file.read())                  
file.close()

Pen 20 2 40
Pencil 40 4 160
Book 3000 2 6000
Copy 200 3 600

In [12]:
file = open('data2.txt','r')      
x = file.read()
print(x)
file.close()

Pen 20 2 40
Pencil 40 4 160
Book 3000 2 6000
Copy 200 3 600

In [13]:
y = x.split('\n')
y

['Pen 20 2 40', 'Pencil 40 4 160', 'Book 3000 2 6000', 'Copy 200 3 600', '']

In [14]:
x

'Pen 20 2 40\nPencil 40 4 160\nBook 3000 2 6000\nCopy 200 3 600\n'

In [15]:
y = x.split('\n')[0:-1]
y

['Pen 20 2 40', 'Pencil 40 4 160', 'Book 3000 2 6000', 'Copy 200 3 600']

In [16]:
for i in y:
    print(i.split())

['Pen', '20', '2', '40']
['Pencil', '40', '4', '160']
['Book', '3000', '2', '6000']
['Copy', '200', '3', '600']

In [17]:
bill = []
for i in y:
    bill.append(i.split())     # this displays list inside list
bill

[['Pen', '20', '2', '40'],
 ['Pencil', '40', '4', '160'],
 ['Book', '3000', '2', '6000'],
 ['Copy', '200', '3', '600']]

In [18]:
s = 0
for i in bill:
    s = s + int(i[-1])
s

6800

In [19]:
for i in bill:
    print(i[-1])

40
160
6000
600

In [16]:
# a kind of simple data entry application
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill + data
    
print(bill)

file = open('data1.csv','w')       
file.write(bill)                   
file.close()

Enter n = 2
Enter name = pen
Enter price = 23
Enter quantity = 3
Enter name = pencil
Enter price = 23
Enter quantity = 2
pen 23 3 69
pencil 23 2 46

In [8]:
pwd

'C:\\Users\\Dell\\Python_class_8am'

In [3]:
# a kind of simple data entry application
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name},{price},{quantity},{total}\n"
    bill = bill + data
    
print(bill)

file = open('data1.csv','w')       
file.write('Name,Price,Quantity,Total\n')                   
file.write(bill)
file.close()

Enter n = 3
Enter name = Pen
Enter price = 25
Enter quantity = 5
Enter name = Pencil
Enter price = 30
Enter quantity = 2
Enter name = Book
Enter price = 5000
Enter quantity = 3
Pen,25,5,125
Pencil,30,2,60
Book,5000,3,15000

In [4]:
import pandas as pd
df = pd.read_csv('data1.csv')
df

     Name  Price  Quantity  Total
0     Pen     25         5    125
1  Pencil     30         2     60
2    Book   5000         3  15000