In [1]:
# loop
# for loop
# while loop

In [2]:
# for loop

In [3]:
#range(5)   # 0,1,2,3,4 num goes up to 4 and 5 is excluded  #for(i=0; i<5; i++)
#range(1,5) # 1,2,3 4                                       #for(i=1; i<5; i++)
#range(1,10,2) # 1,3,5,7,9                                  #for(i=1; i<10; i=i+2)

In [9]:
for i in range(5):
    print(i,"Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [10]:
for i in range(1,5):#i must be always less than 5 so 5 is excluded
    print(i,"Hello")

1 Hello
2 Hello
3 Hello
4 Hello

In [12]:
for i in range(1,7,2):
    print(i,"Hello")

1 Hello
3 Hello
5 Hello

In [22]:
for i in range(5,0,-1):    #reverse loop
    print(i,"Hello")

5 Hello
4 Hello
3 Hello
2 Hello
1 Hello

In [24]:
a = int(input("Enter a = "))
for i in range(1,11):             #loop
    print(i*a)                       #opertation

Enter a = 5
5
10
15
20
25
30
35
40
45
50

In [28]:
# 5 *1 = 5
a = int(input("Enter a = "))
for i in range(1,11):
    print(a, "*" , i , " = " ,i * a)

Enter a = 5
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50

In [29]:
for i in range(2):
    x = int(input("Enter x = "))

Enter x = 3
Enter x = 5

In [1]:
s = 0
for i in range(5):
    x = int(input("Enter x = "))
    s = s + x
    
    print(s)

Enter x = 4
4
Enter x = 5
9
Enter x = 4
13
Enter x = 5
18
Enter x = 4
22

In [2]:
s = 0
t = int(input("Enter t = "))       # example of bank saving
for i in range(t):
    x = int(input("Enter x = "))
    s = s + x
    
    print(s)

Enter t = 3
Enter x = 4
4
Enter x = 5
9
Enter x = 53
62

In [5]:
s = ""
t = int(input("Enter t = "))     # example of a class attendence
for i in range(t):
    x = input("Enter x = ")
    s = s + x + "\n"
    
    print(s)

Enter t = 5
Enter x = a
a

Enter x = b
a
b

Enter x = c
a
b
c

Enter x = d
a
b
c
d

Enter x = e
a
b
c
d
e

In [1]:
s = ""
t = int(input("Enter t = "))
for i in range(t):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + "\n" 
    
    print(s)

Enter t = 5
Enter name = ram
Enter phone = 23
ram 23

Enter name = shyam
Enter phone = 23
ram 23
shyam 23

Enter name = sdf
Enter phone = 234
ram 23
shyam 23
sdf 234

Enter name = sdfs
Enter phone = 234
ram 23
shyam 23
sdf 234
sdfs 234

Enter name = zxdc
Enter phone = 234
ram 23
shyam 23
sdf 234
sdfs 234
zxdc 234

In [1]:
s = ""
t = int(input("Enter t = "))
for i in range(t):
    name = input("Enter your name = ")
    phone = input("Enter your phone = ")
    s = name + " " + "-- "  + str(phone) + "\n"
    
    print(s)

Enter t = 4
Enter your name = ewr
Enter your phone = 234
ewr -- 234

Enter your name = wer
Enter your phone = 234
wer -- 234

Enter your name = wer
Enter your phone = 23
wer -- 23

Enter your name = wewer
Enter your phone = 2323
wewer -- 2323

In [1]:
# wap to find factorial
# wap to make different patterns line triangle
# wap to create a billing system (product, quality, qty, total, all_total)
# write a program to add numbers from 1 to 100
# write a program to multiply numbers from 1 to 100

In [1]:
# factorial 

#a = int(input("Enter a number = "))
b = 1

for i in range(1, 5):      # for i in range(1, 1+1) = (1,1)
    b = b * i                # for i in range(1, 1+1) = (1,2)
    print(b)                 # for i in range(1, 3+1) = (1,4)

1
2
6
24

In [21]:
a = int(input("Enter a = "))
b = 2

for i in range(1,a + 1):  # if we provide value 6 then it is actually for i in range(1, 7) which prints number from 1 to 6 only
    b = b * i              # 1 * 1 = 1
                           # 1 * 2 = 2
    print(b)               # 2 * 3 = 6
                           # 6 * 4 = 24
                           # 24 * 5 = 120
                           # 120 * 6 = 720

Enter a = 7
2
4
12
48
240
1440
10080

In [9]:
for i in range(1,8):
     print("*")

*
*
*
*
*
*
*

In [1]:
a = int(input("Enter a = "))

for i in range(a):             # to print number of rows
    for b in range(i+1):       # to print number of columns
        print("*", end=" ")
    
    print()

Enter a = 5
*
* *
* * *
* * * *
* * * * *

In [4]:
a = int(input("Enter a = "))

for i in range(a,0,-1):
    for b in range(i+1):
        print("*" , end=" ")
    print()

Enter a = 5
* * * * * *
* * * * *
* * * *
* * *
* *

In [7]:
a = int(input("Enter a = "))

for i in range(a):
    
    for s in range(a-i):
        print(" ", end = " ")
        
    for b in range(i+1):
        print("*", end = " ")
        
    print()

Enter a = 6
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *

In [18]:
a = int(input("Enter a = "))

for i in range(a,0,-1):
    
    for s in range(a-i):
        print(" ", end = " ")
        
    for b in range(i+1):
        print("*", end = " ")
print()

Enter a = 4
* * * * *   * * * *     * * *       * *

In [1]:
# add number 1 to 100

i = 1
sum = 0
 
while i<=10:
    sum = sum + i
    print(i, sum)
    i = i + 1
print(sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
55

In [2]:
# multiply numbers from 1 to 100

i = 1
multiple = 1
 
while i<=10:
    multiple = multiple * i
    print(i, multiple)
    i = i + 1
print(multiple)

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
3628800

In [1]:
# wap to create a billing system (product, quality, qty, total, all_total)

a = ""
t = int(input("Enter t = "))

for i in range(t):

    name = input("Enter name of the product = ")
    quality = input("Enter quality = ")
    quantity = input("Enter quantity = ")
    a = name + " " + quality + " " + quantity + "\n" 
    

    print(a)

Enter t = 2
Enter name of the product = er
Enter quality = we
Enter quantity = wer
er we wer

Enter name of the product = wer
Enter quality = wer
Enter quantity = wer
wer wer wer

In [ ]:
a = "Python"