In [1]:
a = 'Hello World I am Python'
b = "Hello World I am Python"
c = '''Hello World I am Python'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
a = "Hello World"
b = "Python"
c = a + b
print(c)

Hello WorldPython

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [7]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [10]:
a = "Python"
print(a[0])
print(a[0:4])

P
Pyth

In [14]:
a = "Python is amazing"
print(a[0])
print(a[0:4])
print(a[0:10:2])

P
Pyth
Pto s

In [3]:
a = "Hello World I am Python"
a[-3]

'h'

In [7]:
a = "Python"
a[-1:-6:-1]

'nohty'

In [8]:
a = "Hello World I am Python"
a[::-1]

'nohtyP ma I dlroW olleH'

In [9]:
a = "23434456"
a[::-1]

'65443432'

In [14]:
a = "Hello World I am Python"
b = a[0:7]
print(b)

Hello W

In [17]:
a = "Hello World I am Python"
l = len(a)
l

23

In [22]:
a = "Hello World I am Python"
l = len(a)   #prints 23

for i in range(l):
    print(a[i], end="")

Hello World I am Python

In [2]:
a = "Hello World I am Python"
l = len(a)

i=0
while i<l:
    print(a[i], end="")
    i=i+1

Hello World I am Python

In [3]:
a = "Hello World I am Python"
l = len(a)

for i in range(l):
    if a[i]==" ":
        print(i)

5
11
13
16

In [6]:
name = "Ram"
age = "34"
address = "Pokhara"

info = "Hello I am " + name + " I am from " + address + " I am " + str(age) + " years old."
info

'Hello I am Ram I am from Pokhara I am 34 years old.'

In [7]:
name = "xyz"
add = "Pkr"
age = "23"

info = f"I am {name}. I am from {add}. I am {age} years old."
info

'I am xyz. I am from Pkr. I am 23 years old.'

In [1]:
bill = ""
all_total = 0
n = int(input("Enter n = "))

for i in range(n):
    product_name = input("Enter product name")
    qty = int(input("Enter qty"))
    price = int(input("Enter price"))
    total = qty * price

    data = f"{product_name}{qty}{price}{total}\n"
    bill = bill + data
    all_total = all_total + total
    
    print(bill)
    print(all_total)

Enter n = 2
Enter product namesd
Enter qty2
Enter price222
sd2222444

444
Enter product namewer
Enter qty2
Enter price4
sd2222444
wer248

452

In [3]:
a ="Ram, Sita, Sam, Abc "
if "Ram" in a:
    print("Yes there is")
else:
        print("No")

Yes there is

In [27]:
a = "Ram Sam Abc Hari Sita Ramesh"
name = input("Enter name : ")

if name in a:
    print(name,"is present")
    print(a.count(name))
else:
    print("No")

Enter name : Ram
Ram is present
2

In [10]:
a = "Ram Sam Sita Hari Ramesh"
print(a.upper())    #prints all case in capital
print(a.lower())    #printd all case in lower

RAM SAM SITA HARI RAMESH
ram sam sita hari ramesh

In [13]:
a = "Ram Sam Sita Hari Ramesh".lower()
name = input("Enter name : ").lower()

if name in a:
    print(name, "is present")
    print(a.count(name))
else:
    print(name, "is absent")

Enter name : sdfJ
sdfj is absent

In [17]:
a = "Ram Hari Ramesh Krish Sam".upper()
name = input("Enter the name : ").upper()

if name in a:
    print(name, "is present")
    print(a.count(name))
else:
    print(name, "is absent")

Enter the name : ram
RAM is present
2

In [19]:
a = "Ram Hari Sam Sita Ramesh"
name = a.replace("Ram","Ramana")   # the name Ram and the first alphabets of the name Ramesh is replaced by the name Ramana
name

'Ramana Hari Sam Sita Ramanaesh'

In [26]:
a = "Ram Sam Niki Muku Ramesh"
name = a.replace("Sam","")
name

'Ram  Niki Muku Ramesh'

In [9]:
bill = ""
all_total = 0

a = int(input("Enter the number = "))

for i in range(a):
    name = input("Enter the name of the product : ")
    qty = int(input("Enter the qty : "))
    price = int(input("Enter the price of the product : "))
    
    total = qty * price
    
    data = name + " " + str(qty) + " " + str(price) + "\n"
    
    bill = bill + data
    all_total = all_total + total
    
print(bill)
print(all_total)

Enter the number = 2
Enter the name of the product : sdf
Enter the qty : 2
Enter the price of the product : 2
Enter the name of the product : sdf
Enter the qty : 3
Enter the price of the product : 3
sdf 2 2
sdf 3 3

13

In [10]:
a = "Hello World I am Python"
a.upper()

'HELLO WORLD I AM PYTHON'

In [11]:
a = "Hello World I am Python"
a.lower()

'hello world i am python'

In [12]:
a = "Hello World I am Python"
b = a.lower()
print(b)

hello world i am python

In [13]:
a = "Hello World I am Python"
b = b.upper()
print(b)

HELLO WORLD I AM PYTHON

In [17]:
a = "Hello World I am Python"
a = a.replace('Hello','Hola')
print(a)

Hola World I am Python

In [3]:
a = "Ram Sam Hari Sita Ramesh"
a = a.replace('Sam ', '')
print(a)

Ram Hari Sita Ramesh

In [4]:
a = "Ram Sam Hari Ramesh"
a = a.replace('Ram','Rama')
print(a)

Rama Sam Hari Ramaesh

In [ ]:
# a.append("Apple")
# a.insert(2,"Apple")
# a.extend(b)
#a.remove("Apple")
#a.count("Apple")
# a.pop(0)

# for update a[0] = "Apple"
#            a[0:2] = "Apple","Ball"

# for delete del a[0:3]

In [4]:
a = []

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    
    info = [name,age,address]
    a.append(info)
print(a)

Enter n = 2
Enter name = sdfh
Enter age = 76
Enter address = jhzcj
Enter name = 876
Enter age = 87
Enter address = hjg
[['sdfh', 76, 'jhzcj'], ['876', 87, 'hjg']]

In [15]:
a = [["Sam",23,"Ktm"],
    ["Ram",45,"Pkr"],
    ["Hari",22,"ktm"],
    ["Pika",20,"Pkr"]]
age = int(input("Enter age = "))

for i in a:
    if i[1] == age:
        print(i)
# after it prints the output, run the append function   
#a.append(["Mamta",22,"Pkr"])
#a

Enter age = 20
['Pika', 20, 'Pkr']

In [26]:
# update

a = [['ram',23,'Ktm'],
    ['sam',32,'Pkr'],
    ['hari',44,'Ktm'],
    ['sumi',45,'Pkr']]
a[0][1]= 'sds',23,'qwe'   # a[0][1] indicates row 0 and column 1 
a

[['ram', ('sds', 23, 'qwe'), 'Ktm'],
 ['sam', 32, 'Pkr'],
 ['hari', 44, 'Ktm'],
 ['sumi', 45, 'Pkr']]

In [31]:
# for deleting

a = [['ram',23,'Pkr'],
    ['sam',33,'Ktm'],
    ['sumi',22,'Pkr'],
    ['pika',33,'Ktm']]
#del a[0]                # this deletes entire row 0
del a[1][1]              # this deletes row 1 and column 1 value
a

[['ram', 23, 'Pkr'], ['sam', 'Ktm'], ['sumi', 22, 'Pkr'], ['pika', 33, 'Ktm']]

In [1]:
# dictionary
# indexing
# multiple and duplicate data
# ordered
# mutable

In [ ]:
d = {}
d = dict()

In [18]:
# d = {<key:value>,<key:value>}

d = {'a' : 'Apple','b':'Ball','c':'Cat','d':'Dog'}
type(d)
print(type(d))
print(d)
print(d['a'])
print(d['b'])
print(d['c'])
print(d['d'])
len(d)

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
Apple
Ball
Cat
Dog

4

In [21]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','a':'Apple'}
print(d)   # value doesnt matter whether it same or different but the key must be different

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [23]:
d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog','A':'Apple'}
print(d)  # here, ,the keys are different 'a' and 'A', so it prints value of both keys

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'A': 'Apple'}

In [ ]:
# + and * are not used in dictionary

In [26]:
# for updating

d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
e = {'g':'sdfsdf'}
d.update(e)
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple', 'g': 'sdfsdf'}

In [30]:
# for updating

d = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
e = {'b':'sdfdfgd'}
d.update(e)
print(d)

{'a': 'Apple', 'b': 'sdfdfgd', 'c': 'Cat', 'd': 'Dog'}

In [32]:
# creating dictionary

d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d['d'] = 'Dog'
print(d)            # this is showing that dictionaries are mutable

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [35]:
# d = {}  # this means creating dictionary
# info = {} # this also means that we are about to create dictionary

info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
        
    info[name] = phone
print(info)

Enter n = 2
Enter name = dsdfs23
Enter phone = dsfs34
Enter name = dfg
Enter phone = 234
{'dsdfs23': 'dsfs34', 'dfg': '234'}

In [36]:
d = {'Ram':'3948903','Sam':'34798','Pika':'345445'}
for i in d:
    print(i)  # it prints only keys

Ram
Sam
Pika

In [37]:
d = {'Ram':'34545','Sam':'45645','Pika':'456342'}
for i in d.values():
    print(i)     # it prints only values

34545
45645
456342

In [38]:
d = {'Ram':'3453','Sam':'23564','Pika':'4645'}
for i in d.items():
    print(i)    # it gives both keys and values

('Ram', '3453')
('Sam', '23564')
('Pika', '4645')

In [40]:
d = [['Ram','345345'],
    ['Sam','567454'],
    ['Mamta','3454353']]
dict(d)

{'Ram': '345345', 'Sam': '567454', 'Mamta': '3454353'}

In [42]:
# update

d = {'Ram':'38478','Sam':'23423'}
d['Ram'] = '888888'
d

{'Ram': '888888', 'Sam': '23423'}

In [43]:
# delete

d = {'Ram':'345353','Sam':'235343'}
del d['Sam']
d

{'Ram': '345353'}

In [46]:
d = {'Ram':'34545','Sam':'234234','Mamta':'234242'}
e = d.pop('Sam')
print(d)     # key 'Sam' has been excluded
print(e)     # value of 'Sam' is the output

{'Ram': '34545', 'Mamta': '234242'}
234234

In [ ]:
# list inside dictionary
d = {[][]}

In [47]:
d = {'Ram':[34345345,345345345],'Sam':[34534534,34345345]}
print(d)

{'Ram': [34345345, 345345345], 'Sam': [34534534, 34345345]}

In [52]:
info = {}   # creating dictionary

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_no = input("Enter ntc number = ")
    ncell_no = input("Enter ncell number = ")
    
    info[name] = [ntc_no,ncell_no]
print(info)

Enter n = 2
Enter name = Ram
Enter ntc number = 43534534
Enter ncell number = 3423534
Enter name = Sam
Enter ntc number = 676786
Enter ncell number = 23365677
{'Ram': ['43534534', '3423534'], 'Sam': ['676786', '23365677']}

In [53]:
# reading data of key Ram in dictionary info

info['Ram']

['43534534', '3423534']

In [57]:
# reading the data of index 0

info['Ram'][0]

'43534534'

In [62]:
# creating dictionary

# d = {'name':['Sam','Ram','Hari'],
#      'age':[23,34,45],
#      'address':['Pkr','Ktm','Lalitpur']}
 

d = {'name':[],'age':[],'address':[]}
    
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address = input("Enter address = ")
    
    d['name'].append(name)
    d['age'].append(age)
    d['address'].append(address)
print(d)

Enter n = 3
Enter name = Sam
Enter age = 23
Enter address = Pkr
Enter name = Ram
Enter age = 34
Enter address = Ktm
Enter name = Hari
Enter age = 45
Enter address = Lalitpur
{'name': ['Sam', 'Ram', 'Hari'], 'age': ['23', '34', '45'], 'address': ['Pkr', 'Ktm', 'Lalitpur']}

In [66]:
d['name']

['Sam', 'Ram', 'Hari']

In [68]:
d['age']

['23', '34', '45']

In [69]:
d['address']

['Pkr', 'Ktm', 'Lalitpur']

In [77]:
print(d['name'][0])
print(d['age'][0])
print(d['address'][0])

Sam
23
Pkr

In [80]:
print(d['name'][1])
print(d['age'][1])
print(d['address'][1])

Ram
34
Ktm

In [81]:
print(d['name'][2])
print(d['age'][2])
print(d['address'][2])

Hari
45
Lalitpur

In [84]:
for i in d['name']:
    print(i)

Sam
Ram
Hari

In [86]:
c = 0
for i in d['name']:
    print(i)
    c = c+1

Sam
Ram
Hari

In [108]:
c = 0
for i in d['name']:
    if i == 'Sam':
        print(c)
    c = c+1

0

In [105]:
c = 0

for i in d['name']:
    if i == 'Sam':
    
        print(d['name'][c])
        print(d['age'][c])
        print(d['address'][c])
    
    c = c+1

Sam
23
Pkr