In [1]:
# python collection
# (list)
# (tuple)
# (dict)
# (set)

In [2]:
# list 
# indexing
# multiple data
# duplicate
# mutable

In [5]:
l = []
l = list()

In [7]:
a = [1,2,3,4,5,6,7,8,9]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# indexing

a = ["Apple", "BAll", "Cat", "Asdj"]
print(a[2])
print(a[0:4])
print(a[0:4:3])

Cat
['Apple', 'BAll', 'Cat', 'Asdj']
['Apple', 'Asdj']

In [18]:
# multiple Data

a = ["Asd", "Ssd", "Dasab", "Ksdn", "Asd"] # multiple data "Asd" has been printed twice
a

['Asd', 'Ssd', 'Dasab', 'Ksdn', 'Asd']

In [20]:
a = [1,2,3]
b = [2]
c = a + b    # concatenation # in order to add both must be list
print(c)

[1, 2, 3, 2]

In [22]:
a = [1,2,3]
b = 2
c = a * b   # in order to multiply, one must be list and the other must be an integer
print(c)

[1, 2, 3, 1, 2, 3]

In [27]:
# ask value from user

l =[]
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
print(l)

Enter n = 4
Enter x = 2
Enter x = 3
Enter x = 5
Enter x = 3
[2, 3, 5, 3]

In [31]:
l = [234, 234, 677, 343]
print("Max value = ", max(l))   # prints max value
print("Min value = ", min(l))   # prints min value
print("Sum = ", sum(l))         # prints the sum

Max value =  677
Min value =  234
Sum =  1488

In [35]:
# mutable
l.sort()
print(l)       # prints in ascending order

[234, 234, 343, 677]

In [33]:
l.reverse()
print(l)       # prints in descending order/from the greatest to smallest

[677, 343, 234, 234]

In [ ]:
# add values
# append() insert() extend()
# delete values
# del remove() pop()

In [37]:
a = ["Apple", "Ball", "Cat", "Dog", "Bird"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Bird

In [38]:
for i in range(len(a)):
    print(a[i])

Apple
Ball
Cat
Dog
Bird

In [40]:
a = ["Ram", "Sam", "Hari", "Gita", "Ramesh"]
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [43]:
a = ["Ram", "Sam", "Hari", "Gita", "Ramesh"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Yes
1

In [ ]:
# Write to search any value in list have case insensative. (assignment)

In [45]:
# append()            It keeps on adding the values at the last
a = [1,2,3,4]
a.append("Apple")
a.append("Ball")
a

[1, 2, 3, 4, 'Apple', 'Ball']

In [49]:
# insert()
a = ['Apple','Ball','Cat','Dog','Bird']
a.insert(3,'Fish')     # we can insert the value in whichever index we want through insert() function
a

['Apple', 'Ball', 'Cat', 'Fish', 'Dog', 'Bird']

In [51]:
# extend()
a = ['Apple','Ball','Cat','Dog','Bird']
b = [1,2,3,4]
a.extend(b)                                 # adding the value to index of a
a

['Apple', 'Ball', 'Cat', 'Dog', 'Bird', 1, 2, 3, 4]

In [53]:
# update()
a = ['Apple','Ball','Cat','Dog','Bird']
a[0] = "Ant"                              # changes the index 0 value "apple" to "ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Bird']

In [56]:
a = ['Apple','Ball','Cat','Dog','Bird']
a[0:3] = ["Ant","Fish","Monkey"]          # changes the index 0 to 3 value i.e "apple", "Ball","Cat" to "Ant","Fish","Monkey"
a

['Ant', 'Fish', 'Monkey', 'Dog', 'Bird']

In [ ]:
# delete
# del remove() pop()

In [3]:
a = ['Apple','Ball','Dog','Cat','Bird']
del a[0]
print(a)

['Ball', 'Dog', 'Cat', 'Bird']

In [4]:
a = ['Apple','Ball','Dog','Cat','Bird']
del a[0:3]
print(a)

['Cat', 'Bird']

In [5]:
# remove

a = ['Apple','Ball','Dog','Cat','Bird']
a.remove('Apple')
print(a)

['Ball', 'Dog', 'Cat', 'Bird']

In [6]:
# remove

a = ['Apple','Ball','Dog','Cat','Bird','Apple']
a.remove('Apple')
print(a)

['Ball', 'Dog', 'Cat', 'Bird', 'Apple']

In [9]:

a = ['Apple','Ball','Dog','Cat','Bird','Apple']
c = a.count('Apple')

for i in range(c):
    a.remove('Apple')
print(a)

['Ball', 'Dog', 'Cat', 'Bird']

In [4]:
# pop

a = ['Apple','Ball','Dog','Cat','Bird','Apple']
b = a.pop(0)                  # pop takes away value of 0 index and keeps it in variable b
print(a)                      # apple in 0 index is removed
print(b)                      # now here apple is displayed

['Ball', 'Dog', 'Cat', 'Bird', 'Apple']
Apple

In [12]:
# list inside list

a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
print(a[0])
print(a[1][2])

[1, 2, 3]
6

In [8]:
a = [['Ram',34,'Kathmandu'],
    ['Sam',22,'Pokhara'],
    ['Hari',33,'Kathmandu']]
a

[['Ram', 34, 'Kathmandu'], ['Sam', 22, 'Pokhara'], ['Hari', 33, 'Kathmandu']]

In [14]:
a =[]
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address = input("Enter address = ")
    info = [name,age,address]
    a.append(info)
print(a)

Enter n = 2
Enter name = Sam
Enter age = 33
Enter address = Ktm
Enter name = Ram
Enter age = 4
Enter address = Pkr
[['Sam', '33', 'Ktm'], ['Ram', '4', 'Pkr']]

In [38]:
# search 

a = [['Sam', 33, 'Ktm'],
    ['Ram', 4, 'Pkr'],
    ['Hari', 22, 'Pkr'],
    ['Sam', 5, 'Ktm']]

In [47]:
# search
a = [['Sam', 33, 'Ktm'],
    ['Ram', 4, 'Pkr'],
    ['Hari', 22, 'Pkr'],
    ['Sam', 5, 'Ktm']]
name = input("Enter name = ").lower()   # example of department asking customers phone number to see his/her purchase records
for i in a:
    if i[0].lower() == name.lower():
        print(i)

Enter name = sam
['Sam', 33, 'Ktm']
['Sam', 5, 'Ktm']

In [45]:
a.append(['Sita',32,'Pkr'])
a

[['Sam', 33, 'Ktm'],
 ['Ram', 4, 'Pkr'],
 ['Hari', 22, 'Pkr'],
 ['Sam', 5, 'Ktm'],
 ['Sita', 32, 'Pkr'],
 ['Sita', 32, 'Pkr']]

In [43]:
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Sam
['Sam', 33, 'Ktm']
['Sam', 5, 'Ktm']

In [54]:
# search

c = 0
a = [['Sam', 33, 'Ktm'],
    ['Ram', 4, 'Pkr'],
    ['Hari', 22, 'Pkr'],
    ['Sam', 5, 'Ktm']]
name = input("Enter name = ").lower()   # example of department asking customers phone number to see his/her purchase records
for i in a:
    if i[0].lower() == name.lower():
        print(i)
        c = c + 1
print(f"There is {c} records")

Enter name = sam
['Sam', 33, 'Ktm']
['Sam', 5, 'Ktm']
There is 2 records

In [1]:
# update

c = 0
a = [['Sam', 33, 'Ktm'],
    ['Ram', 4, 'Pkr'],
    ['Hari', 22, 'Pkr'],
    ['Sam', 5, 'Ktm']]
name = input("Enter name = ").lower()   # example of department asking customers phone number to see his/her purchase records
for i in a:
    if i[0].lower() == name.lower():
        print(i)
        c = c + 1
print(f"There is {c} records")

Enter name = sam
['Sam', 33, 'Ktm']
['Sam', 5, 'Ktm']
There is 2 records

In [57]:
# update

a = [['Sam', 33, 'Ktm'],
    ['Ram', 4, 'Pkr'],
    ['Hari', 22, 'Pkr'],
    ['Sam', 5, 'Ktm']]
a[0][0] = "Ram Prasad"           # row 0 and column 0 (Sam) is changed
a

[['Ram Prasad', 33, 'Ktm'],
 ['Ram', 4, 'Pkr'],
 ['Hari', 22, 'Pkr'],
 ['Sam', 5, 'Ktm']]

In [58]:
# delete

a = [['Sam', 33, 'Ktm'],
    ['Ram', 4, 'Pkr'],
    ['Hari', 22, 'Pkr'],
    ['Sam', 5, 'Ktm']]
del a[0][0]            # row 0 and column 0 (Sam) is deleted
a

[[33, 'Ktm'], ['Ram', 4, 'Pkr'], ['Hari', 22, 'Pkr'], ['Sam', 5, 'Ktm']]