In [1]:
a = "Hello World I am Python"
b = 'Hello World I am Python'
c = '''Hello World I am Python'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + *

a = "Hello "
b = "World"
c = a+b

print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a = "Python"

for i in a :
    print(i)

P
y
t
h
o
n

In [10]:
a = "Python"
print(a[0])
print(a[0:5])

P
Pytho

In [13]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5])                     # kind of range
print(a[0:20:2])

H
Hello
HloWrdIa y

In [14]:
a = "Hello World I am Python"
a[-1]

'n'

In [16]:
a = "Python"
a[-1:-7:-1]

'nohtyP'

In [17]:
a = "Hello World I am Python"
a[::-1]                          # it prints any large range of string

'nohtyP ma I dlroW olleH'

In [20]:
a ="234765"
a[::-1]

'567432'

In [22]:
a = "Hello World I am Python"
b = a[0:5]                      # slicing
print(b)

Hello

In [24]:
a = "Hello World I am Python"
l = len(a)
l

23

In [26]:
a = "Hello World I am Python"
l = len(a)

for i in range(l):
    print(a[i], end="")

Hello World I am Python

In [6]:
a = "Hello World I am Python"
l = len(a)
i = 0

while i<l:
    print(a[i], end="")
    i = i+1

Hello World I am Python

In [8]:
a = "Hello World I am Python"
l = len(a)

for i in range(l):
    if a[i] == " ":
        print(i)

5
11
13
16

In [16]:
# string formatting

name = "Ram"
age = 44
add = "Kathmandu"

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
info

'Hello World I am Ram I am from Kathmandu I am 44'

In [15]:

name = "Ram"
age = 44
add = "Kathmandu"

info = f"Hello World I am {name}. I am from {add}. I am {age}"
info

'Hello World I am Ram. I am from Kathmandu. I am 44'

In [18]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}"
info

Enter name = dsf
Enter age = 34
Enter add = er

'Hello World I am dsf. I am from er. I am 34'

In [22]:
# billing system

bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    price = int(input("Enter price"))
    qty = int(input("Enter qty"))
    total = price * qty
    
    data = f"{name}{price}{qty}{total}\n"
    bill = bill + data
    all_total = all_total + total
    
print(bill)
print(all_total)

Enter n = 2
Enter namefcvgd
Enter price34
Enter qty324
Enter namee
Enter price23
Enter qty23
fcvgd3432411016
e2323529

11545

In [26]:
# search in string

a = "Ram Sam Hari Sita Gita"
if "Ram" in a:
    print("Yes there is")
else:
    print("No")

Yes there is

In [6]:

a = "Ram Sam Hari Sita Gita Ramesh"
name = input("Enter name = ")
if name in a:
    print("Yes there is", name)
    print(a.count(name))
else:
    print("No")

Enter name = Ram
Yes there is Ram
2

In [5]:
a = "Ram Sam Hari Sita Gita Ramesh"
print(a.upper())
print(a.lower())

RAM SAM HARI SITA GITA RAMESH
ram sam hari sita gita ramesh

In [4]:

a = "Ram Sam Hari Sita Gita Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes there is", name)
    print(a.count(name))
else:
    print("No")

Enter name = RAMESH
Yes there is ramesh
1

In [13]:
# replace()
a = "Ram Sam Hari Sita Gita Ramesh"
a = a.replace("Ram","Rama")
a

'Rama Sam Hari Sita Gita Ramaesh'

In [15]:
# replace()
a = "Ram Sam Hari Sita Gita Ramesh"
a = a.replace("Ram ","Rama ")
a

'Rama Sam Hari Sita Gita Ramesh'

In [17]:
# replace()
a = "Ram Shyam Hari Sita Gita Ramesh"
a = a.replace("Shyam ","")
a

'Ram Hari Sita Gita Ramesh'

In [ ]:
isupper() islower() title()