In [1]:
# tuples and set
#-indexing
#-ordered
#-multiple and duplicate data
#-immutable

In [2]:
a = (1,2,3)
b = ("Apple","BAll","Cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
a = (1,)    # , is necessary
type(a)

tuple

In [7]:
a = tuple()   # once tuple is defined , we cannot change like we change the list

In [1]:
b = ("Apple","Ball","Cat",1,2,3,4,5)
print(b[1])
print(b[0:5])
print(b[0:8:3])

Ball
('Apple', 'Ball', 'Cat', 1, 2)
('Apple', 1, 4)

In [11]:
b = ("Apple","Ball","Cat",1,2,3,4,5,5)     # it takes duplicate data
print(b[1])
print(b[0:5])
print(b[0:8:2])

Ball
('Apple', 'Ball', 'Cat', 1, 2)
('Apple', 'Cat', 2, 4)

In [12]:
# min max sum

In [ ]:
# imutable

# once a tuple is created, we cannot perfrom the below statements

# - not alloweed to create
# - not allowed to append(), insert(), extend(), delete()
# del remove() pop()
# no update
# no sort

In [13]:
a = (1,2,3,4)     # we can concat
b = (5,6,7)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6, 7)

In [16]:
a = ()
b = (1,)
a = a + b
a

(1,)

In [2]:
t = ()

n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t + (x,)
    print(t)

Enter n = 4
Enter x = fdggfh
('fdggfh',)
Enter x = rettry
('fdggfh', 'rettry')
Enter x = fghfgh
('fdggfh', 'rettry', 'fghfgh')
Enter x = rtyrt
('fdggfh', 'rettry', 'fghfgh', 'rtyrt')

In [4]:
a = (234,546,343,567,457,789,234,987)
print(max(a))
print(min(a))
print(sum(a))

987
234
4157

In [5]:
a = (234,546,343,567,457,789,234,987)
b = list(a)
b

[234, 546, 343, 567, 457, 789, 234, 987]

In [7]:
a = (234,546,343,567,457,789,234,987)
b = list(a)
del b[0]
a = tuple(b)       # value of index 0 will be deleted
a

(546, 343, 567, 457, 789, 234, 987)

In [8]:
# tuple inside tuple

a = ((1,2,3),
     (4,5,6),
     (7,8,9))
a

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [1]:
# creating tuple inside tuple

info = ()
n = int(input("Enter n = "))

for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    
    address = input("Enter address = ")
    
    info = info + ((name,age,address),)
info

Enter n = 3
Enter name = Sam
Enter age = 22
Enter address = Pkr
Enter name = Ram
Enter age = 33
Enter address = Ktm
Enter name = Hari
Enter age = 33
Enter address = Lalitpur

(('Sam', 22, 'Pkr'), ('Ram', 33, 'Ktm'), ('Hari', 33, 'Lalitpur'))

In [3]:
a = (('Sam', 22, 'Pkr'), ('Ram', 33, 'Ktm'), ('Hari', 33, 'Lalitpur'))
for i in a:
    print(list(i))

['Sam', 22, 'Pkr']
['Ram', 33, 'Ktm']
['Hari', 33, 'Lalitpur']

In [3]:

l = []
a = (('Sam', 22, 'Pkr'), ('Ram', 33, 'Ktm'), ('Hari', 33, 'Lalitpur'))
for i in a:
    l.append(list(i))
l

[['Sam', 22, 'Pkr'], ['Ram', 33, 'Ktm'], ['Hari', 33, 'Lalitpur']]

In [ ]:
# WAP to convert list inside list to tuple inside tuple

In [4]:
# det
# - no indexing
# - multiple but no duplicate data
# - unordered
# - mutable

In [5]:
s = {1,2,3,4,5,6,7}
type(s)

set

In [6]:
s = {1}
type(s)

set

In [11]:
s = {"Apple","Ball","Cat","Dog","Fish"}
print(s)       # unordered data type

{'Apple', 'Dog', 'Fish', 'Cat', 'Ball'}

In [12]:
s = {23,456,687,324,789,213,}
print(s)     # unordered data type

{324, 213, 789, 23, 456, 687}

In [19]:
s = {"Apple","Ball","Cat","Dog","Fish"}
s[0]    # it doesn't have any specific order, so error is generated

TypeError: 'set' object is not subscriptable

In [20]:
s = {"Apple","Ball","Cat","Dog","Fish","Apple","Ball"}
s

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [15]:
# add(), update(), remove()

In [21]:
s = {"Apple","Ball","Cat","Dog","Fish","Apple","Ball"}
for i in s:
    print(i)     # it gives value in unorderd format

Apple
Dog
Fish
Cat
Ball

In [22]:
# adding

s = {1,2,3}
s.add(4)     # adding
s

{1, 2, 3, 4}

In [24]:
# update

s = {1,2,3,4}
a = {5,6,7}
s.update(a)
s

{1, 2, 3, 4, 5, 6, 7}

In [25]:
# remove

s = {1, 2, 3, 4, 5, 6, 7}
s.remove(2)          # value 2 is removed
s

{1, 3, 4, 5, 6, 7}

In [30]:
apple = {"Ram","Jobs","Steve","John","Sabin","Sam","Mike"}
ms = {"Bill","Gates","William","Mike","Hari","John"}

i = apple.intersection(ms)        # using intersection
print(i)

un = apple.union(ms)              # using union
print(un)

{'John', 'Mike'}
{'Ram', 'Sabin', 'Sam', 'Steve', 'Gates', 'Jobs', 'John', 'Hari', 'Bill', 'Mike', 'William'}

In [31]:
apple = {"Ram","Jobs","Steve","John","Sabin","Sam","Mike"}
ms = {"Bill","Gates","William","Mike","Hari","John"}

i = apple.union(ms)
print(i)

{'Ram', 'Sabin', 'Sam', 'Steve', 'Gates', 'Jobs', 'John', 'Hari', 'Bill', 'Mike', 'William'}

In [35]:
U = {'xyz','abc','Ram', 'Sabin', 'Sam', 'Steve', 'Gates', 'Jobs', 'John', 'Hari', 'Bill', 'Mike', 'William'}

apple = {"Ram","Jobs","Steve","John","Sabin","Sam","Mike"}
ms = {"Bill","Gates","William","Mike","Hari","John"}

i = apple.intersection(ms)        # using intersection
print(i)

un = apple.union(ms)              # using union
print(un)

print(apple-ms)        

print(ms-apple)

print(U-un)   # prints value not belonging to both (apple) and (ms)

{'John', 'Mike'}
{'Ram', 'Sabin', 'Sam', 'Steve', 'Gates', 'Jobs', 'John', 'Hari', 'Bill', 'Mike', 'William'}
{'Ram', 'Sabin', 'Sam', 'Steve', 'Jobs'}
{'Gates', 'Hari', 'Bill', 'William'}
{'xyz', 'abc'}

In [36]:
# only immutable inside
# we can never keep list inside set

s = {[1,2,3],[4,5,6]}
s

TypeError: unhashable type: 'list'

In [37]:
# we can never keep dictionary inside set
s = {{1:2,5:10}}

TypeError: unhashable type: 'dict'

In [38]:
# we can never keep set inside set
s = {{1,2,3}}

TypeError: unhashable type: 'set'

In [ ]:
# WAP to create, read, update and delete dict inside dict