In [1]:
# file
# file = open('<file.name>','<mode>')
# file.close()

# with open('<file.name>','<mode>')
#    <operations>
    
# mode
# create -> x
# read -> r
# write -> w
# append -> a

In [1]:
try:
    file = open('dataa.txt','x')
    file.close()
except:
    print('The file is already there.')

The file is already there.

In [9]:
file = open('dataa.txt','r')
x = file.read()
print(x)
file.close()

Hi Ktm
Hello World
Hello World
Hello World
Hello World

In [6]:
type(x)

str

In [10]:
x.split('\n')

['Hi Ktm', 'Hello World', 'Hello World', 'Hello World', 'Hello World']

In [21]:
y = x.split('\n')
y

['Hi Ktm', 'Hello World', 'Hello World', 'Hello World', 'Hello World']

In [22]:
y[0]

'Hi Ktm'

In [23]:
y[1]

'Hello World'

In [24]:
i = int(input("Enter a = "))
y[i-1]

Enter a = 1

'Hi Ktm'

In [2]:
file = open('dataa.txt','w')
file.write("Hi Ktm, I am xyz.")
file.close()

In [3]:
# a kind of simple data entry application

bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name} {price} {quantity} {total}\n"
    
    bill = bill + data

print(bill)

file = open('dataa1.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter name = sdfs
Enter price = 232
Enter quantity = 2
Enter name = vgnjf
Enter price = 67
Enter quantity = 6
sdfs 232 2 464
vgnjf 67 6 402

In [4]:
# appending

bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name} {price} {quantity} {total}\n"
    
    bill = bill + data

print(bill)

file = open('dataa1.txt','a')
file.write(bill)
file.close()

Enter n = 2
Enter name = sfgfg
Enter price = 767
Enter quantity = 6
Enter name = jklh
Enter price = 56
Enter quantity = 7
sfgfg 767 6 4602
jklh 56 7 392

In [5]:
# read the above areated and appended value

file = open('dataa1.txt','r')
print(file.read())
file.close()

sdfs 232 2 464
vgnjf 67 6 402
sfgfg 767 6 4602
jklh 56 7 392

In [6]:
# read the above created and appended values 

file = open('dataa1.txt','r')
x = file.read()
print(x)
file.close()

sdfs 232 2 464
vgnjf 67 6 402
sfgfg 767 6 4602
jklh 56 7 392

In [7]:
x.split('\n')

['sdfs 232 2 464', 'vgnjf 67 6 402', 'sfgfg 767 6 4602', 'jklh 56 7 392', '']

In [8]:
y = x.split('\n')
y

['sdfs 232 2 464', 'vgnjf 67 6 402', 'sfgfg 767 6 4602', 'jklh 56 7 392', '']

In [9]:
y[0]

'sdfs 232 2 464'

In [10]:
y[1]

'vgnjf 67 6 402'

In [11]:
y = x.split('\n')[0:-1]
y

['sdfs 232 2 464', 'vgnjf 67 6 402', 'sfgfg 767 6 4602', 'jklh 56 7 392']

In [12]:
for i in y:
    print(i.split())

['sdfs', '232', '2', '464']
['vgnjf', '67', '6', '402']
['sfgfg', '767', '6', '4602']
['jklh', '56', '7', '392']

In [28]:
bill = []

for i in y:
    print(i.split())
    
bill

['sdfs', '232', '2', '464']
['vgnjf', '67', '6', '402']
['sfgfg', '767', '6', '4602']
['jklh', '56', '7', '392']

[]

In [31]:
s = 0
for i in bill:
    s = s+ int(i[-1])
s

0

In [24]:
# adding column title in the table

bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    
    total = price * quantity
    data = f"{name},{price},{quantity},{total}\n"
    
    bill = bill + data

print(bill)

file = open('dataa1.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name = sdfs
Enter price = 4354
Enter quantity = 2
Enter name = gjghj
Enter price = 32
Enter quantity = 56
sdfs,4354,2,8708
gjghj,32,56,1792

In [32]:
# going into pandas

import pandas as pd
df = pd.read_csv('dataa1.csv')
df

    Name  Price  Quantity  Total
0   sdfs   4354         2   8708
1  gjghj     32        56   1792