In [1]:
a = 10
print(a)

10

In [3]:
a = 10                   #int
b = 10.5                 #float
c = "Hello World"        #string
d = True                 #bool

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [4]:
#1aa = 10 we cannot use numbers
a_ = 10   #we cannot use special character at starting and ending and between the variables
hello = 10
hello_world = 10

In [5]:
#type()
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

In [7]:
a = '''12$% apple'''
type(a)

str

In [10]:
a = '''12$% apple "'''
print(a)

12$% apple "

In [11]:
a = True
print(a)

True

In [14]:
a = "10"
print(a)

10

In [16]:
# Operators
# + - * / ** // %

In [18]:
a = 10
b = 20
c = a + b    # + is operator and a,b & c are operands
print(c)

30

In [19]:
a = 10
b = 3
c = a / b
print(c)

3.3333333333333335

In [20]:
a = 10
b = 3
c = a ** b
print(c)

1000

In [23]:
a = 10
b = 3
c = a // b      # prints whole number //floor division , doesnt give decimal
print(c)

3

In [24]:
a = 10
b = 3
c = a % b       # prints remainder
print(c)

1

In [25]:
pwd

'C:\\Users\\Dell\\Python_class_8am'

In [1]:
# float
# + - * / ** // %

In [4]:
# string
a = "Hello "     # space is also a character
b = "World"
c = a + b
print(c)

Hello World

In [7]:
a = "Hello World\n"  # \n separates line
print(a*2)

Hello World
Hello World

In [11]:
name = "Mamta"
info = "Hi, I am " + name
print(info)                 # you can also write info or print(info)

Hi, I am Mamta

In [9]:
# bool
a = True
b = False
c = a + b
print(c)

1

In [10]:
a = True
b = False
c = a * b
print(c)

0

In [12]:
# complex number ( + - * / ) j = (-1)**(1/2)
a = 2 + 3j                 # if we write 3*j then j is counted as variable 
type(a)

complex

In [16]:
a = "123"
b = "223"
c = a + b
c

'123223'

# 
type casting

In [17]:
# int() float() string() bool()

In [19]:
# string to integer
a = "10"
b = float(a)
b

10.0

In [20]:
# str to float
a = "10.5"
b = float(a)
b

10.5

In [21]:
# int to string
a = 10
b = str(a)
b

'10'

In [25]:
# int to bool
a = 0
bool(a)

False

In [26]:
a = 1
bool(a)

True

In [27]:
a = 0.1
bool(a)

True

In [28]:
a = ""                # if left blank without any value then it is false
bool(a)

False

In [29]:
a = "Hi"              #if any kind of value is assigned the it will be false
bool(a)

True

In [30]:
# Basic IO Operation

In [31]:
a = input()
print(a)

Hello
Hello

In [33]:
a = input("Enter a = ")  # whatever value we put, input function will print any kind of data type (int, str, float)
print(a)
type(a)

Enter a = 10
10

str

In [34]:
a = int(input("Enter a = "))
print(a)

Enter a = 10
10

In [35]:
a = float(input("Enter a = "))
print(a)

Enter a = 10
10.0

In [39]:
name = input("Enter a name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello World, I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter a name = Mamta
Enter age = 24
Enter address = Pokhara
Hello World, I am Mamta I am from Pokhara I am 24

In [42]:
p = int(input("Enter p = "))
q = float(input("Enter q = "))
r = float(input("Enter r = "))
i = p*q*r/100
print("The value of i = ", i)

Enter p = 12
Enter q = 1.2
Enter r = 12
The value of i =  1.7279999999999998

In [1]:
# if <condition>:
#   <operation>
# elif <condition> :
#   <operation>
# ...
    
#else:
#<operation>

# < > <= >= == !=

In [4]:
a = 12
print(a>13)
print(a<13)

False
True

In [11]:
a = int(input("Enter a = "))
if a>=0:
    print(a, " is +ve")
else:
    print(a, " is -ve")

Enter a = 12
12  is +ve

In [12]:
10%2 == 0
# <> <= >= == !=

True

In [14]:
a = int(input("Enter a = "))
if a%2==0:
    print(a," is even")
else:
    print(a, "is odd")

Enter a = 5
5 is odd

In [17]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a>b:
    print(a, " is greater than ",b)
elif b>a:
    print(b, " is greater than ",a)
else:
    print("Both are equal")

Enter a = 3
Enter b = 4
4  is greater than  3

In [2]:
# nested if else statement

physics = float(input("Enter physics "))     #
chemistry = float(input("Enter chemistry "))
biology = float(input("Enter biology "))
maths = float(input("Enter maths "))
english = float(input("Enter english "))

if physics >= 32 and chemistry >= 32 and biology >=32 and maths >= 32 and english >= 32:
    total = physics + chemistry + biology + maths + english
    per = total/5

    if per >= 80:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 45:
        grade = "C"
    elif per >=32:
        grade = "D"
    else:
        grade = "F"
    
    print("Total = ",total)
    print("Per = ",per)
    print("Grade = ",grade)

else:
    print("Failed")

Enter physics 22
Enter chemistry 33
Enter biology 45
Enter maths 44
Enter english 45.5
Failed

In [22]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = input("Enter + or - or * or / ")
if c == "+":
    print(a+b)
elif c == "-":
    print(a-b)
elif c == "*":
    print(a*b)
elif c == "/":
    print(a/b)
else:
    print("Invalid operator")

Enter a = 4
Enter b = 3
Enter + or - or * or / /
1.3333333333333333

In [ ]:
# logical operator
#

In [ ]:
# and 
# 1 * 0 = 0
# 0 * 1 = 0
# 0 * 0 = 0
# 1 * 1 = 1

In [7]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = input("Enter + or -or * or / ")
if c == "+":
    print(a+b)
elif c =="-":
    print(a-b)
elif c == "*":
    print(a*b)
elif c == "/" and b != 0 :
    print(a/b)
elif c == "/" and b == 0:
    print("The value of c cannot be zero.")
else:
    print("Invalid Opearator")

Enter a = 3
Enter b = 4
Enter + or -or * or / /
0.75