In [1]:
# listing
# indexing
# multiple data
# duplicate
# tuple

In [2]:
# listing
# a = [] or a = list()

In [4]:
# listing

a = ['Apple','BAll','Cat','Dog','Bird','Fish']
print(type(a))
print(a)

<class 'list'>
['Apple', 'BAll', 'Cat', 'Dog', 'Bird', 'Fish']

In [6]:
# indexing

a = ['Apple','Ball','Cat','Dog','Bird','Fish']
print(a[0])
print(a[0:])
print(a[0:6:4])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Bird', 'Fish']
['Apple', 'Bird']

In [8]:
# multiple data

a = ['Apple','Ball','Dog','Cat','Bird','Fish','Apple']
print(a)

['Apple', 'Ball', 'Dog', 'Cat', 'Bird', 'Fish', 'Apple']

In [10]:
# concat

a = [1,2,3,4,5]
b = [8]
c = a + b
print(c)

[1, 2, 3, 4, 5, 8]

In [11]:
# multiplication 

a = [1,2,3,4,5]
b = 3
c = a * b
c

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [14]:
# ask the value from user

l = []

n = int(input("Enter n = "))

for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
print(l)

Enter n = 3
Enter x = 2
Enter x = 3
Enter x = 4
[2, 3, 4]

In [18]:
a = [234, 45, 56, 577]

print("Max value = ", max(a))
print("Min value = ", min(a))
print("Sum = ", sum(a))

Max value =  577
Min value =  45
Sum =  912

In [21]:
a = [4564, 425, 536, 5737]
a.sort()
print(a)

[425, 536, 4564, 5737]

In [22]:
a = [4564, 425, 536, 5737]
a.reverse()
print(a)

[5737, 536, 425, 4564]

In [23]:
# add values
# append(), insert(), extend()
# delete values
# del() remove() pop()

In [6]:
a = ['Apple','Ball','Dog','Cat','Bird','Fish']
for i in a:
    print(i)

Apple
Ball
Dog
Cat
Bird
Fish

In [7]:
a = ['Apple','Ball','Dog','Cat','Bird','Fish']
for i in range(len(a)):
    print(a[i])

Apple
Ball
Dog
Cat
Bird
Fish

In [9]:
a = ['Apple','Ball','Dog','Cat','Bird','Fish']
if "Apple" in a:
    print("Yes")
else:
    print("No")

Yes

In [12]:
a = ['Ram','Sita','Gita','Sam','Pam','Ramesh']
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Yes
1

In [16]:
# append()

a = [1,2,3,4]
a.append('Apple')
a.append('Ball')
a

[1, 2, 3, 4, 'Apple', 'Ball']

In [19]:
# insert

a = ['Apple','Ball','Dog','Bird','Monkey']
a.insert(1,'Cat')
print(a)

['Apple', 'Cat', 'Ball', 'Dog', 'Bird', 'Monkey']

In [24]:
# extend()

a = ['Apple','Ball','Cat','Dog','Fish']
b = [1, 2, 3, 4, 'lkj']
a. extend(b)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 'lkj']

In [26]:
# update

a = ['Apple','Ball','Cat','Dog','Fish']
a[0] = 'Ant'
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [29]:
# update

a = ['Apple','Ball','Cat','Dog','Bird']
a[0:5] =['sds','hjk','vhjg']
a

['sds', 'hjk', 'vhjg']