In [1]:
# string

In [2]:
a = "python"
for i in a:            # no need to put range in in for loop
    print(i)

p
y
t
h
o
n

In [3]:
a = "python"
for i in a:
    print(i," Hello World")

p  Hello World
y  Hello World
t  Hello World
h  Hello World
o  Hello World
n  Hello World

In [2]:
a = "Hello World, I am python"
for i in a:
    print(i, end = "")

Hello World, I am python

In [7]:
a = "Hello World I am python"

for i in a:
        
        if i != " ":
            print(i, end = "")

HelloWorldIampython

In [8]:
a = "Hello World I am python."

for i in a:
        
        if i != ".":
            print(i, end = "")

Hello World I am python

In [9]:
a = "Hello World I am python. I am from Ktm. I am the best."

for i in a:
        
        if i != ".":
            print(i, end = "")

Hello World I am python I am from Ktm I am the best

In [10]:
# while loop
# while <condition>
#       <operation>

In [5]:
a = 0
while a<=5:
    print(a)
    a = a+1

0
1
2
3
4
5

In [4]:
a = 1
while a<=5:           #for in range(1,5)
    print(a, "Hello World")
    a = a+1

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World

In [5]:
a = 0
while a<=2:           #for in range(1,5)
    print(a, "Hello World")
    a = a+0.5

0 Hello World
0.5 Hello World
1.0 Hello World
1.5 Hello World
2.0 Hello World

In [3]:
i = 1
n = int(input("Enter n = "))

while (i<=10):
    print(n, "*", i, "=", i*n )
    i = i+1

Enter n = 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [1]:
s = 0
i = 0

n = int(input("Enter n = "))

while i<n:
    x = int(input("Enter x = "))
    s = s + x
    i += 1        #i = i+1
    print("Now your total balance = ", s)

Enter n = 3
Enter x = 34
Now your total balance =  34
Enter x = 34
Now your total balance =  68
Enter x = 34
Now your total balance =  102

In [1]:
s = ""

n = int(input("Enter n = "))
for i in range(n):

    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + "--" + str(phone) +"\n"
    print(s)

Enter n = 3
Enter name = sfe
Enter phone = 34
sfe--34

Enter name = ert
Enter phone = 343
sfe--34
ert--343

Enter name = dlfkj
Enter phone = 323
sfe--34
ert--343
dlfkj--323

In [5]:
i = 0
s = ""
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " - " + str(phone) +"\n"
    i=i+1
    print(s)

Enter n = 2
Enter name = sdfsdf
Enter phone = 35435
sdfsdf - 35435

Enter name = sdfs
Enter phone = 2353
sdfsdf - 35435
sdfs - 2353

In [3]:
i = 5
while i>=0:
    print(i)
    i = i-1

5
4
3
2
1
0

In [9]:
# WAP to find a factorial

i = 1
n = int(input("Enter the value of n = "))
for i in range(1,n+1):
    print(i)

Enter the value of n = 4
1
2
3
4

In [10]:
i = 1
fac = 1
n = int(input("Enter the value of n = "))
for i in range(1,n+1):
    fac = i * fac
    print(fac)

Enter the value of n = 5
1
2
6
24
120

In [11]:
n = 5
for i in range(n):
    print(i * "0")

0
00
000
0000

In [13]:
n = 5
for i in range(n,0,-1):
    print(i * "0")

00000
0000
000
00
0

In [6]:
n = 5
for i in range(1,n):
    print((n-i)*" ", 2*(i * "0"))

     00
    0000
   000000
  00000000

In [3]:
# WAP to detect if the given number is prime or composite 

# prime numbers 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 
#               41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

# composite numbers 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 
#                   24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 
#                   39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 
#                   55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69,
#                   70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 
#                   86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100

start = int(input("Enter the starting range = "))
end = int(input("Enter the ending range = "))

print("Prime numbers in the range", start, "to", end)

   
for i in range(start, end+1):
    flag = 0
    for j in range(2, i):
        if (i % j == 0):
            flag = 1
            break
    if (flag == 0):
            print(i)

Enter the starting range = 2
Enter the ending range = 43
Prime numbers in the range 2 to 43
2
3
5
7
11
13
17
19
23
29
31
37
41
43

In [ ]:
# control statements

# continue
# break
# pass

In [3]:
for i in range(10):
    if i == 7:
        break       # it breaks the loop according to the if condition 
    print(i)

0
1
2
3
4
5
6

In [8]:
for i in range(10):
    if i == 8:
        continue       # value of i will be equal to 7 so, the loop continues according to the if condition 
    print(i)

0
1
2
3
4
5
6
7
9

In [20]:
a = "Hello World. I am Python."
for i in a:
    if i ==".":                 # . is equal to . so it doesnt print the words that continues after . because we have 
        break                   # included break statement
    print(i, end="")

Hello World

In [21]:
a = "Hello World. I am Pyhton."

for i in a:
    if i == ".":                # . is equal to . and the condition is continue so it prints the words after .  
        continue
    print(i, end = "")

Hello World I am Pyhton

In [22]:
for i in range(10):
    if i == 5 or i == 8:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 9

In [24]:
a = "Hello World. I am Python._"

for i in a:
    if i == "." or i == "_":              
        continue
    print(i, end = "")

Hello World I am Python

In [1]:
i = 0
while i<=10:
    if i == 8:
        break
    print(i)
    i = i+1

0
1
2
3
4
5
6
7

In [1]:
i = 0
while i<=10:
    if i == 5:
        i = i+1
        continue
    print(i, end = " ")
    i = i+1

0 1 2 3 4 6 7 8 9 10

In [6]:
for i in range(1,51):
    if i % 5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [10]:
# WAP to add and multiply numbers fron 1 to 100
# Add 1+2+3+4+5 = 15

s = 0
for i in range(1,6):
    s = s+i
    print(s)

1
3
6
10
15

In [14]:
s = 1
for i in range(1,101):
    s = s+i
print(s)

5051

In [15]:
# multiply 1*2*3

s = 1
for i in range(1,11):
    s = s*i
print(s)

3628800

In [28]:
# WAP to create a billing system 

bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price * qty
    
    data = name + " " + str(price) + " " + str(qty) + " " +str(total) +"\n"
    
    bill = bill + data
    
    all_total = all_total + total
    
print(bill)
print(all_total)

Enter n = 3
Enter name = erfte
Enter price = 34
Enter qty = 3
Enter name = dfg
Enter price = 343
Enter qty = 2
Enter name = wsef12
Enter price = 234
Enter qty = 3
erfte 34 3 102
dfg 343 2 686
wsef12 234 3 702

1490

In [30]:
# WAP to detect if the given number is prime or composite

# prime numbers 1,3,5,7,11,13,17,19
# composite numbers 2,4,6,8,10,12,14,16,18,20

n = int(input("Enter n = "))

if n>=2:
    for i in range(2,n//2+1):
        if n%i==0:
            print("The number is composite.")
            break
    else:
            print("The number is prime.")
else:
    print("The value of n should be n>=2.")

Enter n = 7
The number is prime.

In [26]:
bill = ""
n = int(input("Enter the value of n = "))
all_total = 0

for i in range(n):
    name = input("Enter name of the product = ")
    price = int(input("Enter price of the product = "))
    quantity = int(input("Enter quantity of the product = "))
    total = price * quantity
    
    data = name + " " + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    bill = bill + data
    
    all_total = all_total + total
    
print(bill)
print(all_total)

Enter the value of n = 3
Enter name of the product = sdf
Enter price of the product = 3
Enter quantity of the product = 3
Enter name of the product = sdf
Enter price of the product = 3
Enter quantity of the product = 3
Enter name of the product = sdf
Enter price of the product = 3
Enter quantity of the product = 3
sdf 3 3 9
sdf 3 3 9
sdf 3 3 9

27